@font-face {
  font-family: 'GothamBook';
  src: url("../fonts/gotham-book.eot");
  src: local("GothamBook"), url("../fonts/gotham-book.woff") format("woff"), url("../fonts/gotham-book.ttf") format("truetype"); }

.fontsforweb_fontid_10146 {
  font-family: 'GothamBook' !important; }
