body {
  padding: 0;
  font-family: 'GothamBook',Helvetica,Arial,sans; }

.marT10 {
  margin-top: 10px !important; }

.marT32 {
  margin-top: 32px !important; }

.padL0 {
  padding-left: 0 !important; }

.navbar-brandZ {
  background-image: url(../img/logo-170.png);
  background-repeat: no-repeat;
  -webkit-background-size: auto auto;
  background-size: auto auto; }

.navbar-brandZ {
  display: block;
  padding: 0;
  margin-top: 10px;
  width: 170px;
  height: 41px;
  float: left;
  text-indent: -9999px;
  position: relative; }

.navbar-default .navbar-nav > li > a {
  color: #fff; }

.navbar-brandZ {
  font-size: 15px;
  line-height: 18px; }

.navbar {
  background: #000; }

.padB20 {
  padding-bottom: 20px; }

.sidebar {
  top: 121px; }

.weatherImageHolder {
  float: left; }

#weatherDataContainer {
  display: none; }

#loader {
  display: none;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px; }

.tempC, .tempF {
  font-size: 70px;
  color: #000; }

#weatherDetails {
  font-size: 20px;
  color: #000; }

.weatherDescription, .currentDay {
  text-align: center;
  display: block; }

#weatherDetails .humidity {
  display: block; }

.degreesText {
  display: inline-block;
  vertical-align: top;
  padding-top: 20px;
  cursor: pointer; }

.tempF, .windSpeedMph, .precipMm {
  display: none; }
